html,
body {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
}

.menu {
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100%;
    position: fixed
}

.dashboard {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 20%;
    height: 100%;
}


.menu_item {
    height: 40px;
    width: 70%;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 10px;
    border-radius: 20px;

}

.menu_item:hover {
    background-color: rgb(212, 209, 209);
}

.menu_items {
    margin-top: 35px;
}

.menu_icon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 2px;
}

.menu_item_text {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: 2px;

}

.icon {
    height: 80px;
    width: 90%;
    margin-top: 50px;
    background-color: transparent;
    margin-left: 70px;
}

.logo_image {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 1px;
    margin-top: -28px;
}

.logo_text {
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(240, 71, 101);
    text-align: left;
}

.logout_button {
    width: 70px;
    height: 40px;
    margin-top: 90%;
    margin-left: 70%;
    border-radius: 20px;
    background-color: rgb(240, 71, 101);
    border: 1px solid rgb(240, 71, 101);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}

.logout_button:hover {
    background-color: rgb(255, 113, 139);
    border: 1px solid rgb(255, 113, 139);
}

.logout_image {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.input_text {
    width: 50%;
    height: 40px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(196, 194, 195);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    margin-left: 15%;
    color: rgb(111, 109, 109);
    margin-top: -12px;
}

.input_text:placeholder-shown {
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(196, 194, 195);
}

.save_button {
    width: 25%;
    height: 35px;
    margin-top: 50px;
    margin-left: 35%;
    margin-bottom: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(178, 178, 178);
    border: 1px solid rgb(178, 178, 178);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    padding-top: 7px;
}

.save_button:hover {
    background-color: rgb(196, 194, 195);
    border: 1px solid rgb(196, 194, 195);
}

.page_title {
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: 70px;
    margin-left: 10%;
}

.input_title {
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-left: 15%;
}

.personal {
    margin-left: 100px;
    width: 80%;
    height: 300px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.other_info {
    width: 80%;
    margin-left: 100px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
}

.input_group {
    display: flex;
    flex-direction: column;
}

.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.top {
    margin-left: 125px;
    margin-bottom: 30px;
    display: flex;
}


.custom-button {
    background-color: rgb(240, 71, 101);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
}

input[type="file"] {
    display: none;
}

.section_title{
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: 50px;
    margin-left: 10%;
}

.warning{
    display: none;
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(240, 71, 101);
    text-align: left;
    margin-top: 10px;
    margin-left: 10%;
}


#popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
    z-index: 999; 
    justify-content: center;
    align-items: center;
}

.popup_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 80px;
    box-shadow: 0 0 10px rgba(255, 199, 227, 0.5);
    display: flex;
}

.msg_img{
    width: 80px;
    height: 80px;
    margin-left: 40px;
    border-radius: 50%;
    float: left;
}

.msg{
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(240, 71, 101);
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}