.top{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.bottom{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.back{
    display: flex;
}

#back_logo{
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 8px;
}


.back_text{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(127, 127, 127);
}

.back_text:hover{
    text-decoration: underline;
}

.book_info{
    display: flex;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(rgb(101, 101, 101), rgb(255, 255, 255));
    height: 300px;
    width: 100%;
    margin-top: 10px;
}

#collection_img{
    width: 220px;
    height: 220px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
}

#collection_title{
    width: 100%;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 255, 255);
}

#description{
    width: 700px;
    height: 60px;
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(159, 159, 159);
    text-align: left;
    word-wrap: break-word;
    margin-left: 30px;
}

#collection_date{
    width: 100%;
    font-size: 12px;
    margin-left: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(92, 92, 92);
}

.search{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

#search_input{
    width: 300px;
    height: 40px;
    border-bottom: 1.5px solid rgb(196, 196, 196);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding-left: 10px;
    margin-left: 45%;
    color: rgb(111, 109, 109);
}

#search_input:placeholder-shown{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(196, 194, 195);
}

#search_logo{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border: 2px solid #949494;
    border-radius: 20px;
    padding: 5px;
}

#search_logo:hover{
    background-color: rgb(235, 235, 235);
}

#add_book{
    width: 45px;
    height: 45px;
    margin-left: 60px;
}

#edit_collection{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#more{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#books_list{
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin-top: 90px;
    background-color: transparent;
}

.list_titles{
    display: flex;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    border-bottom: 1.5px solid rgb(196, 196, 196);
}

.title{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(135, 135, 135);
    margin-top: 5px;
    
}

.books{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-color: #ffffff;
}

.book_item{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 130px;
    margin-top: 10px;
    margin-left: 5%;
    border-radius: 20px;
    background-color: #ffffff;
}

.book_item:hover{
    background-color: #d1d1d189;
}

.item_text{
    font-size: 16px;
    width: 220px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 60px;
    text-align: center;
}

.item_img{
    width: 80px;
    height: 110px;
    margin-top: 10px;
    margin-left: -40px;
}

#item_num{
    margin-left: 90px;
}

#item_title{
    margin-left: 230px;
    margin-right: 180px;
}

#item_author{
    margin-right: 170px;
}

#item_house{
    margin-right: 160px;
}

#remove_book{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-top: 45px;
}

#remove_popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
    z-index: 999; 
    justify-content: center;
    align-items: center;
}

.remove_popup_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(201, 201, 201, 0.5);
}

#confirm_remove,#cancel_remove{
    width: 100px;
    height: 40px;
    background-color: rgb(240, 71, 101);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#confirm_remove:hover,#cancel_remove:hover{
    background-color: rgb(105, 105, 105);
}

.remove_text{
    font-size: 18px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 20px;
}

#edit_popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
    z-index: 999; 
    justify-content: center;
    align-items: center;
}

.edit_popup_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 350px;
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    display: flex;
}

.inputs{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    flex-direction: column; 
}

#popup_title{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 20px;
    border: 1px solid rgb(201, 201, 201);
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    resize: none;
}

#popup_descripiton{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 20px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    word-wrap: break-word;
    text-align: left;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.img_side{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left:50px ;
    position: relative;
    display: inline-block;

}

#edit_img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    float: left;   
    border-radius: 10px;
    transition: filter 0.3s ease;
    position: relative; 
}

#edit_img:hover{
    filter: brightness(0.4); 
}

#edit_logo{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 1px; 
    right: 10px; 
}

#save_btn{
    width: 80px;
    height: 25px;
    background-color: rgb(172, 172, 172);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    margin-left: 225px;
    padding-top: 5px;
}

#save_btn:hover{
    background-color: rgb(104, 104, 104);
}

#close_popup{
    height: 28px;
    width: 28px;
    margin-right: 5px;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #c8c8c8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 225px;
    flex-direction: column; 
}

#dropdown_content a {
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    height: 20px;
    line-height: 25px;
    
}

#dropdown_content a:hover {
    background-color: #929292;
}

#dropdown_content a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#remove_collection_popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
    z-index: 999; 
    justify-content: center;
    align-items: center;
}

.remove_collection_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(201, 201, 201, 0.5);
}

#confirm_delete,#cancel_delete{
    width: 100px;
    height: 40px;
    background-color: rgb(240, 71, 101);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#confirm_delete:hover,#cancel_delete:hover{
    background-color: rgb(105, 105, 105);
}

#sort_by{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

#sort_text{
    font-size: 18px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 10px;
    margin-left: 50px;
}

#sort_text:hover{
    text-decoration: underline;
}

.empty_text{
    display: none;
    font-size: 18px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(190, 190, 190);
    margin-top: 50px;
    margin-left: 80px;
}

#sort_dropdown{
    display: none;
    position: absolute;
    background-color: #c8c8c8;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: 88%;
    flex-direction: column; 
    margin-top: 35px;
}

#sort_dropdown a {
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    height: 20px;
    line-height: 25px;
    
}

#sort_dropdown a:hover {
    background-color: #929292;
}