
html, body {
    height: 100%; 
    margin: 0;
}


.menu{
    background-color: rgb(255, 255, 255);
    width: 20%; 
    height: 100%;
    position: fixed
}

.dashboard{
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 22%; 
    height: 100%;
    border-right: 2px solid gray; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
padding-bottom: 50px;}


.menu_item{
    height: 40px ;
    width: 70%;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 10px ;
    border-radius: 20px;

}

.menu_item:hover{
    background-color: rgb(212, 209, 209);
}
.menu_items{
    margin-top: 35px;
}

.menu_icon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 2px;
}

.menu_item_text{
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: 2px;

}

.icon{
    height: 80px;
    width: 90%; 
    margin-top: 50px;
    background-color: transparent;
    margin-left: 70px;
}

.logo_image{
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 1px;
    margin-top: -28px;
}

.logo_text{
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(240, 71, 101);
    text-align: left;
}

.logout_button{
    width: 70px;
    height: 40px;
    margin-top: 90%;
    margin-left: 70%;
    border-radius: 20px;
    background-color: rgb(240, 71, 101);
    border: 1px solid rgb(240, 71, 101);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}

.logout_button:hover{
    background-color: rgb(255, 113, 139);
    border: 1px solid rgb(255, 113, 139);
}

.logout_image{
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.search{
    width: 80%;
    margin-left: 18%; 
    height: 100px;
    background-color: transparent;
    margin-bottom: 10px;
}

.input_search{
    width: 60%;
    height: 40px;
    margin-top: 20px;
    border-bottom: 1.5px solid rgb(196, 196, 196);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding-left: 20px;
    margin-left: 15%;
    color: rgb(111, 109, 109);
}

.input_search:placeholder-shown{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(196, 194, 195);
}

.search_button{
    width: 10%;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 113, 139);
    border: 1px solid rgb(255, 113, 139);
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}

.search_button:hover{
    background-color: rgb(240, 71, 101);
    border: 1px solid rgb(240, 71, 101);
}

.book_item{
    width: 200px;
    height: 250px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 5%;

}

.book_item:hover{
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.book_image{
    width: 100px;
    height: 150px;
    margin-left: 25%;
    margin-top: 30px;
    border: 1px solid rgb(196, 196, 196);

}

.book_title{
    height: 20px;
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: center;
    margin-top: 10px;
}

.book_author{
    margin-top: -10px;
    height: 10px;
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: center;
}

.popup {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 60px;
    text-align: center;
    width: 58%;
    height: 520px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
}

.popup-image {
    width: 150px;
    height: 230px;
    float: left;
    margin-left: 20%;
    margin-top: 45px;
    border: 1px solid rgb(196, 196, 196);
}

.popupInfo{
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: center;
    margin-top: 10px;
}

.info_title{
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(158, 158, 158);
    text-align: left;
    margin-left: 5%;
    margin-top: -2px;
}

.info_main{
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(112, 112, 112);
    text-align: left;
    margin-left: 5%;
    margin-top: -12px;
}

.left_side{
    width: 300px;
    float: left;
    flex-direction: column;
    margin-left: 20px;
}

.right_side{
    width: 500px;
    float: left;
    margin-top: 10px;
}

.popup_title{
    height: 30px;
    width: 400px;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.fav_button{
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-right: 40px;
}

.fav_button:hover{
    scale: 1.2;
}

.add_btn{
    width: 200px;
    height:30px;
}



.add_text{
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: 10px;
    
}

.add_text:hover{
    color: rgb(240, 71, 101);
}


.add_icon{
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 18px;
    margin-right: 12px;
}

.add_icon:hover{
    scale: 1.2;
}

#add_now{
    margin-top: 50px;
}

.add_btns{
    width: 250px;
    height: 400px;
    float: right;
}

.popup_description{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(111, 109, 109);
    text-align: left;
    margin-top: -5px;
    resize: none;
    width: 400px;
    height: 200px;
    margin-right: 50px;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.author_text{
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(152, 152, 152);
    text-align: left;
    margin-top: -18px;
    margin-left: 20px;
}