.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    background-image: url(../images/Picture1.jpg);
}

.main {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    flex-direction: column; 
}

.input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    padding-left: 20px;

}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10%;
    float: top;
}

.login {
    width: 100%;
    padding: 10px;
    margin-left: 50%;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
}

.logo_image {
    width: 70px;
    height: 70px;
    margin-top: -20px;
    margin-left: 40px;
}
.logo_text {
    font-size: 40px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 76, 109);
    text-align: left;
    float: right;
    margin-top: 10px;
}

.login_button {
    width: 180px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Gill Sans', sans-serif;
    background-color: rgb(133, 133, 133);
    font-size: 16px;
    margin-left: 40px;
    margin-top: 8px;
    text-align: center;
}

.login_button:hover {
    background-color: #969696;
}

.register {
    width: 50%;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 76, 109);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    
}

.register:hover {
    color: #969696;
}