.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b8b8;
}

.main {
    width: 800px;
    height: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    flex-direction: column; 
}

.input{
    width: 59%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    padding-left: 20px;

}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-top: 5%;
    float: top;
}

.register_inputs {
    width: 80%;
    padding: 10px;
    margin-left: 30%;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    height: 600px;
}

.logo_image {
    width: 70px;
    height: 70px;
    margin-top: -20px;
    margin-left: 40px;
}
.logo_text {
    font-size: 40px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 76, 109);
    text-align: left;
    float: right;
    margin-top: 10px;
}

.register_button {
    width: 180px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Gill Sans', sans-serif;
    background-color: rgb(255, 76, 109);
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
    text-align: center;
}

.register_button:hover {
    background-color: #969696;
}

.register {
    width: 50%;
    font-family: 'Gill Sans', sans-serif;
    color: black;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    
}

.register:hover {
    color: #969696;
}

.surname, .name, .city, .country{
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    padding-left: 20px;
    margin-right: 10px;
}

.input_group {
    display: flex;
    justify-content: space-between; 
    width: 60%;
}

.sign_in {
    width: 50%;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(135, 135, 135);
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    margin-left: 15px;
    
}

.sign_in:hover {
    color: #737373;
}

.pass_info {
    width: 60%;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(156, 156, 156);
    font-size: 10px;
    margin-top: -5px;
    text-align: center;
    margin-left: -75px;
}

.error_msg{
    width: 60%;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(255, 76, 109);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    display: none;
}